$container_width: 1238px;
$indent_container: 34px;

$bp_desktop: 1024px;
$bp_tablet: 768px;

$color_white: #fff;
$color_black: #000;
$color_lightgray: #f4f4f4;
$color_gray: #7b7b7b;
$color_darkgray: #565656;

$font_body: Lato, Arial, Helvetica, sans-serif;
$font_display: 'Red Hat Display', Arial, Helvetica, sans-serif;