$color_black: #000;
$color_white: #fff;
$color_gray_medium: #828282;
$color_purple: #9e8cfc;
$color_purple_darker: #9e8cfcb2;
$color_sidebar_shadow: #00000026;
$color_red: #ea5455;
$color_yellow: #f2c94c;
$color_green: #6fcf97;