.manifest {
  $ns: &;

  &-footer {
    background-color: $color_lightgray;
    padding: 50px 0;

    @include bpmin($bp_desktop) {
      padding: 70px 0 30px;
    }

    #{$ns}-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @include bpmin($bp_desktop) {
        text-align: left;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
      }
    }

    &__copyright {
      width: 100%;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-align: center;
    }

    #{$ns}__heading {
      margin-bottom: 30px;
    }

    &__link {
      display: block;
      margin-bottom: 15px;
      letter-spacing: 0.1em;
    }
  }

  &-social {
    display: flex;
    align-items: center;
    gap: 23px;
    margin: 35px 0 40px;

    @include bpmin($bp_desktop) {
      margin: 0;
    }

    &__item {
      a {
        display: block;
        width: 50px;
        height: 50px;

        svg {
          &,
          rect,
          path {
            transition: all 0.2s ease-in-out;
          }
        }

        &:hover,
        &:focus {
          svg {
            rect {
              fill: $color_darkgray;
            }

            path {
              fill: $color_lightgray;
            }
          }
        }
      }
    }
  }
}