.manifest {
  $ns: &;

  &-header {
    background-color: $color_white;

    #{$ns}-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;

      @include bpmin($bp_desktop) {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    &-nav {
      display: flex;
      align-items: center;
    }

    &-menu {
      display: none;
      align-items: center;

      @include bpmin($bp_desktop) {
        display: flex;
      }

      &__item {
        margin: 0 21px;

        a {
          position: relative;

          font-family: $font_body;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0.3em;
          text-transform: uppercase;

          &::after {
            content: '';
            position: absolute;
            display: block;
            background-color: $color_black;
            width: 0;
            height: 2px;

            left: 50%;
            top: calc(100% + 6px);
            transform: translateX(-50%);
            transition: width 0.2s ease-in-out;
          }

          &:hover,
          &:focus {
            text-decoration: none;

            &::after {
              width: 40px;
            }
          }
        }
      }
    }

    &__search {
      @include bpmin($bp_desktop) {
        margin-left: 80px;
      }
    }

    &__burger {
      margin-left: 40px;

      @include bpmin($bp_desktop) {
        display: none;
      }
    }
  }
}