.manifest {
  $ns: &;

  &-most-popular {
    #{$ns}-container {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 30px;
    }

    &__title {
      font-size: 28px;
      font-weight: 600;

      &-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
    }

    #{$ns}-blog-post {
      @include bpmin($bp_tablet) {
        flex-direction: column;
        justify-content: flex-start;
        width: calc(50% - 15px);
        margin-bottom: 20px;
      }

      .post {
        &__image,
        &-body-wrapper {
          @include bpmin($bp_tablet) {
            width: 100%;
          }
        }

        &__image {
          height: 150px;

          @include bpmin($bp_tablet) {
            height: 160px;
          }

          @include bpmin($bp_desktop) {
            height: 260px;
          }
        }

        &-body {
          @include bpmin($bp_desktop) {
            padding: 25px 0;
          }
        }

        &__meta {
          &-wrapper {
            display: flex;
            justify-content: space-between;
          }
        }

        &__content {
          @include bpmin($bp_desktop) {
            margin-top: 5px;
          }
        }
      }
    }
  }

  &-load-more {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

    button {
      width: 180px;
      height: 46px;
      background-color: $color_darkgray;
      color: $color_white;

      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: 0.1em;
    }
  }
}