.manifest {
  $ns: &;

  &-vacancies {
    #{$ns}-container {
      padding-top: 90px;
      padding-bottom: 90px;
    }

    #{$ns}-vacancy {
      display: flex;
      flex-direction: column;

      @include bpmin($bp_desktop) {
        flex-direction: row;
        justify-content: space-between;
      }

      &__title,
      &__description {
        width: 100%;

        @include bpmin($bp_desktop) {
          max-width: 470px;
        }
      }

      &__title {
        font-weight: 400;
        margin-bottom: 50px;

        @include bpmin($bp_desktop) {
          margin-bottom: 0;
        }

        &::after {
          content: '';
          display: block;
          width: 24px;
          height: 12px;
          background: url('../img/arrow-right.svg') no-repeat;
          margin-top: 10px;
        }
      }

      &__description {
        text-align: left;

        @include bpmin($bp_tablet) {
          text-align: right;
        }

        @include bpmin($bp_desktop) {
          text-align: left;
        }

        p {
          font-size: 19px;
          line-height: 32px;
          letter-spacing: 0.05em;

          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}