:root {
  --color_white: #fff;
  --color_blue: #55b7ff;
  --color_dark-blue: #2c4058;
  --color_purple: #7e5aff;
  --color_black: #000;

  --container-bg: 215px;
  --container-sm: 80px;
}

$desktop-laptop: 1400px;
