.account {
  &-header,
  &-label,
  &-text {
    font-family: 'Roboto', sans-serif;
  }

  &-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: $color_dark-100;
  }

  &-label {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: $color_grey-300;

    &--button {
      color: $color_white-100;
    }

    &--login {
      font-weight: 500;
      color: $color_blue-100;
    }
  }

  &-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: $color_grey-200;

    &--link {
      font-family: 'Inter', sans-serif;
      color: $color_blue-100;
      margin: 0 5px;
    }
  }
}